:root {
    --green: #418985;
    --orange: #DE7243;
    --gray: #6B6B6B;
    --light-gray: #A8A8A8;
    --black: #000000;
    --white: #FFFFFF;
    --Ubuntu: "Ubuntu";
    --Plus-Jakarta-San: "Plus Jakarta Sans";

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

body {
    font-family: var(--Ubuntu);
    font-size: 25px;
    color: var(--black);
    line-height: 29px;
    font-weight: normal;
    background: var(--white);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.primary-btn {
    border: 2px solid var(--orange);
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    background-color: transparent;
    color: var(--orange);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

input {
    font-family: var(--Ubuntu);
    font-size: 25px;
    color: var(--black);
    line-height: 29px;
    font-weight: 300;
    padding: 25px;
    font-weight: 300;
    width: 100%;
    color: var(--black);
    border: 1px solid var(--light-gray);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    color: var(--light-gray);
}

input:focus {
    outline: none;
    box-shadow: unset;
    border: 1px solid var(--orange);
}


.input-field .select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #C8C8C8 !important;
    border-radius: 10px !important;
    padding: 24px 20px;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--green);
}

.select2-results__option--selectable {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.select2-dropdown {
    border: 1px solid #C8C8C8;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
    content: "\6b";
    font-family: "daatt" !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    font-size: 18px;
    display: flex;
    color: var(--green);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}


.sidebar {
    position: fixed;
    height: 100%;
    width: 345px;
    background: var(--white);
    transition: all 0.5s ease;
    padding: 0 10px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.sidebar .des_menu_list::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .headre_logo {
    padding: 20px 10px;
    border-bottom: 1px solid #41898533;
}

.sidebar .headre_logo a {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.sidebar .des_menu_list {
    max-width: 260px;
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar .des_menu_list .menu_item_link {
    padding: 18px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    line-height: 18px;
    color: #737791;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.sidebar .des_menu_list .menu_item_link.active,
.sidebar .des_menu_list .menu_item_link:hover {
    background: var(--green);
    color: var(--white);
    font-weight: 400;
}

.sidebar .des_menu_list .menu_item_link i {
    display: flex;
    font-size: 18px;
    line-height: 18px;
}

.sidebar .get_premium_box {
    max-width: 245px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    margin-top: auto;
}

.sidebar .get_premium_box .icon_in {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--white);
}

.sidebar .get_premium_box .titel {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 33px;
    font-weight: 500;
}

.sidebar .get_premium_box .content {
    color: #FFFFFFCC;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

.sidebar .upgrade_now_button {
    background: var(--white);
    border: 1px solid var(--white);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-family: 500;
    color: var(--orange);
    border-radius: 8px;
    padding: 8px 25px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.sidebar .upgrade_now_button:hover {
    background: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

.das_header .search_box {
    position: relative;
    max-width: 490px;
    width: 100%;
}

.das_header .search_box input {
    border: 1px solid #DEDEDE;
    background: #F9F9F9;
    padding: 17px 20px 17px 65px;
    border-radius: 53px;
    font-size: 16px;
    line-height: 16px;
}

.das_header .search_box .search_button {
    border: 0;
    background: transparent;
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #9A9A9A;
}

.das_header .search_box .search_button i {
    display: flex;
    font-size: 24px;
}

.das_header .fleg_user_log {
    display: flex;
    gap: 24px;
    align-items: center;
}

.das_header .fleg_user_log .flag_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #92C6C11A;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.das_header .fleg_user_log .flag_icon img {
    object-fit: cover;
}

.user_info_dropdown .dropdown-toggle {
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.user_info_dropdown .dropdown-toggle::before {
    content: "\69";
    font-family: "daatt" !important;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: var(--black);
}

.user_info_dropdown .dropdown-toggle .image_box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_info_dropdown .dropdown-toggle .name_info .name_i {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 5px;
}

.user_info_dropdown .dropdown-toggle .name_info .name_immm {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    color: var(--green);
    display: block;
    text-align: start;
}

.user_info_dropdown .dropdown-toggle::after {
    display: none;
}

.des_box {
    background: var(--white);
    border: 1px solid #F8F9FA;
    border-radius: 20px;
    box-shadow: 0px 3px 26px 0px #4189851A;
}

.des_main_title {
    font-size: 32px;
    line-height: 32px;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 8px;
}

.des_title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #2C3F3F;
}

.das_header {
    padding: 25px 30px;
    background: var(--white);
    box-shadow: 0px 6px 25px 0px #4189851A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.das_sub_title {
    font-size: 16px;
    line-height: 16px;
    color: #909090;
}

.content_main {
    position: relative;
    background: #95DBD41A;
    min-height: 100vh;
    width: calc(100% - 345px);
    left: 345px;
    transition: all 0.5s ease;
}

.burger_search {
    display: flex;
    align-items: center;
    gap: 15px;
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.6rem;
    height: 1.15rem;
    opacity: 0;
    visibility: hidden;
    background: transparent;
}

.burger-line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2.1px;
    opacity: 1;
    border: none;
    outline: none;
    border-radius: 1rem;
    background: var(--black);
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
}

.overlay.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.search_button_in {
    display: none;
    align-items: center;
    background: transparent;
    border: 0;
}

.search_button_in i {
    display: flex;
    font-size: 30px;
}

.user_info_dropdown .dropdown-menu {
    border-radius: 7px;
    box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
    border: 0;
}

.page_content {
    padding: 30px 35px;
}

@media(max-width: 1366px) {
    .sidebar {
        width: 260px;
    }

    .content_main {
        width: calc(100% - 260px);
        left: 260px;
    }

    .sidebar .des_menu_list {
        gap: 10px;
    }

    .das_header {
        padding: 15px;
    }

    .sidebar .headre_logo {
        padding: 10px;
    }
}

@media(max-width:1024px) {
    .des_title {
        font-size: 18px;
        line-height: 24px;
    }

    .des_main_title {
        font-size: 28px;
    }

    .das_sub_title {
        font-size: 14px;
    }

    .burger {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .sidebar {
        left: -100%;
    }

    .sidebar.active {
        width: 280px;
        left: 0;
    }

    .content_main {
        width: 100%;
        left: 0;
    }
}

@media(max-width:640px) {
    .search_button_in {
        display: flex;
    }

    .das_header .fleg_user_log {
        gap: 15px;
    }

    .user_info_dropdown .dropdown-toggle .name_info {
        display: none;
    }

    .das_header .search_box {
        position: fixed;
        left: -100%;
        top: 80px;
        max-width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .das_header .search_box.active {
        left: 0;
    }
}

/* personal Infomation Page Satrt */

.personal_infomation {
    padding: 25px;
    margin-top: 35px;
}

.personal_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.ss_your_profile {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--green);
}

.ss_your_profile span {
    color: var(--orange);
}

/* personal Infomation Page End */