
.folder-list-section {
    padding: 55px 0;
}

.folder-list-section .title {
    color: #000;
    font-family:  var(--Plus-Jakarta-San);
    font-size: 38px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 35px;
}

.folder-list-wrapper .create-folder {
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    margin-bottom: 35px;
}

.folder-list-wrapper .create-folder img {
    width: 65px;
    height: 65px;
}

.folder-list-wrapper .create-folder p {
    color: var(--orange);
    font-family: var(--Plus-Jakarta-San);
    font-size: 36px;
    line-height: 36px;
}

.folder-list-wrapper .folder-list {
    padding: 0px 30px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.folder-list-wrapper .folder-list .folder {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #92C6C1;
}

.folder-list-wrapper .folder-list .folder .folder-icon {
    min-width: 90px;
    width: 90px;
    height: 78px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--green);
    box-shadow: 0px 22.35294px 78.23529px 0px rgba(0, 0, 0, 0.15);
}

.folder-list-wrapper .folder-list .folder .folder-icon img {
    width: 40px;
    height: 40px;
} 

.folder-list-wrapper .folder-list .folder .folder-detail {
    width: 100%;
}

.folder-list-wrapper .folder-list .folder .folder-detail .name {
    font-family: var(--Plus-Jakarta-San);
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 15px;
}

.folder-list-wrapper .folder-list .folder .folder-detail .cerated-by  {
    font-family: var(--Plus-Jakarta-San);
    color: #727171;
    font-size: 24px;
    line-height: 24px;
}
.folder-list-wrapper .folder-list .folder .action-btn {
    position: relative;
    cursor: pointer;
    height: fit-content;
    display: flex;
    margin-bottom: auto;
}

.folder-list-wrapper .folder-list .folder .action-btn .share-main {
    position: absolute;
    top: 16px;
    right: 1px;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 9px 17px;
    border-radius: 3px;
    border: 0.5px solid #DCDCDC;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    display: none;
    width: max-content;
}

.folder-list-wrapper .folder-list .folder .action-btn:hover .share-main  {
    display: flex;
}




/* add new folder popup css start */

.add-new-folder-popup .modal-dialog {
    max-width: 434px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
}

.add-new-folder-popup .modal-dialog .modal-content {
    padding: 20px;
    max-height: 582px;
    overflow: hidden;
}

.add-new-folder-popup .modal-dialog .modal-header {
    padding: 0 0 20px;
    border-bottom: unset;
}

.add-new-folder-popup .modal-dialog .modal-header .modal-title {
    font-family: var(--Plus-Jakarta-San);
    font-size: 20px;
    line-height: 31px;
}

.add-new-folder-popup .modal-dialog .modal-header .btn-close {
    width: 24px;
    height: 24px;
    background-image: unset;
    display: flex;
}

.add-new-folder-popup .modal-dialog .modal-header .btn-close:focus {
    box-shadow: unset;
}

.add-new-folder-popup .modal-dialog .modal-body {
    padding: 0;
}


.folder-list {
    padding: 20px 13px;
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

.folder-list .folder {
    display: flex;
    align-items: center;
    gap: 15px;
}

.folder-list .folder .folder-icon {
    min-width: 78px;
    width: 78px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--green);
    box-shadow: 0px 12px 42px 0px rgba(222, 114, 67, 0.15);
}

.folder-list .folder .folder-detail .name {
    font-family: var(--Plus-Jakarta-San);
    font-size: 20px;
    line-height: 20px;
}

.folder-list .folder .folder-detail .cerated-by  {
    font-family: var(--Plus-Jakarta-San);
    color: #727171;
    font-size: 16px;
    line-height: 16px;
}

.create-new-folder-popup .modal-dialog .folder-list {
    padding: 15px;
    max-height: unset;
    height: 100%;
    overflow: unset;
    gap: 35px;
}

.create-new-folder-popup .folder-list .create-folder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
}

.create-new-folder-popup .folder-list .create-folder-input {
    position: relative;
    width: 100%;
}

.create-new-folder-popup .folder-list .create-folder-input input {
    padding: 10px 2px;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px dashed #484848;
    border-radius: 0;
    font-family: var(--Plus-Jakarta-San);
    font-size: 20px;
    line-height: 20px;
}

.create-new-folder-popup .folder-list .create-folder-input input::placeholder {
    opacity: 1;
    color: #000;
}

.create-new-folder-popup .folder-list .create-folder-input .pen-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.create-new-folder-popup .folder-list .create-folder .cerated-by {
    color: #727171;
    font-family: var(--Plus-Jakarta-San);
    font-size: 16px;
    line-height: 16px;
}

.create-new-folder-popup .folder-list .primary-btn {
    padding: 15px 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin: 0 auto;
}

/* add new folder popup css end */  


@media(max-width: 1366px) {
    .folder-list-section .title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .folder-list-wrapper .create-folder {
        margin-bottom: 30px;
    }

    .folder-list-wrapper .create-folder p {
        font-size: 30px;
        line-height: 30px
    }

    .folder-list-wrapper .folder-list {
        gap: 30px;
        padding: 0 20px;
    }

    .folder-list-wrapper .folder-list .folder {
        padding: 20px;
        border-radius: 12px;
    }

    .folder-list-wrapper .folder-list .folder .folder-icon {
        min-width: 70px;
        width: 70px;
        height: 60px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .name {
        font-size: 24px;
        line-height: 24px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .cerated-by {
        font-size: 20px;
        line-height: 20px;
    }
}


@media(max-width: 1024px) {
    .folder-list-section .title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .folder-list-wrapper .create-folder {
        margin-bottom: 20px;
    }

    .folder-list-wrapper .create-folder p {
        font-size: 26px;
        line-height: 26px
    }

    .folder-list-wrapper .folder-list {
        gap: 20px;
        padding: 0 15px;
    }

    .folder-list-wrapper .folder-list .folder {
        padding: 15px;
        border-radius: 10px;
    }

    .folder-list-wrapper .folder-list .folder .folder-icon {
        min-width: 60px;
        width: 60px;
        height: 50px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .name {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .cerated-by {
        font-size: 18px;
        line-height: 18px;
    }
}


@media (max-width: 991px) {
    .add-new-folder-popup .modal-dialog .modal-header .modal-title {
        font-size: 18px;
        line-height: 26px;
    }

    .create-folder p {
        font-size: 18px;
        line-height: 18px;
    }

    .folder-list .folder .folder-icon {
        min-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    .folder-list .folder .folder-detail .name {
        font-size: 18px;
        line-height: 18px;
    }

    .folder-list {
        gap: 20px;
    }

    .folder-list .folder .folder-detail .cerated-by {
    font-size: 14px;
        line-height: 14px;
    }
    .create-new-folder-popup .folder-list .primary-btn {
        padding: 12px 35px;
        font-size: 18px;
    }
    .create-new-folder-popup .folder-list .create-folder-input input {
        font-size: 18px;
        line-height: 18px;
    }

    
    .folder-list-section .title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .folder-list-wrapper .create-folder {
        margin-bottom: 15px;
    }
    .folder-list-wrapper .create-folder img {
        width: 40px;
        height: 40px;
    }
    .folder-list-wrapper .create-folder p {
        font-size: 24px;
        line-height: 24px
    }

    .folder-list-wrapper .folder-list .folder {
        padding: 15px;
    }

    .folder-list-wrapper .folder-list .folder .folder-icon {
        min-width: 50px;
        width: 50px;
        height: 40px;
        border-radius: 8px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .name {
        font-size: 18px;
        line-height: 18px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .cerated-by {
        font-size: 16px;
        line-height: 16px;
    }
    
}

@media (max-width: 768px) {
    
    .add-new-folder-popup .modal-dialog .modal-content {
        padding: 15px;
    }
    .folder-list {
        padding: 15px 0;
    }
    .folder-list .folder .folder-icon {
        min-width: 50px;
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .add-new-folder-popup .modal-dialog .modal-header .modal-title {
        font-size: 16px;
        line-height: 16px;
    }
    .folder-list-wrapper .folder-list {
        grid-template-columns: 1fr;
    }
    .folder-list .folder .folder-detail .name {
        font-size: 16px;
        line-height: 16px;
    }
    .folder-list .folder .folder-detail .cerated-by {
        font-size: 12px;
        line-height: 12px;
    }

    .create-new-folder-popup .modal-dialog .folder-list {
        gap: 20px;
    }
    .create-new-folder-popup .folder-list .primary-btn {
        padding: 10px 30px;
        font-size: 16px;
    }
    .create-new-folder-popup .folder-list .create-folder-input input {
        font-size: 16px;
        line-height: 16px;
    }

    
    .folder-list-section .title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .folder-list-wrapper .create-folder {
        margin-bottom: 15px;
    }
    .folder-list-wrapper .create-folder img {
        width: 30px;
        height: 30px;
    }

    .folder-list-wrapper .create-folder p {
        font-size: 20px;
        line-height: 20px
    }

    .folder-list-wrapper .folder-list .folder {
        padding: 15px;
        border-radius: 8px;
    }

    .folder-list-wrapper .folder-list .folder .folder-icon {
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 6px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .name {
        font-size: 16px;
        line-height: 16px;
    }

    .folder-list-wrapper .folder-list .folder .folder-detail .cerated-by {
        font-size: 14px;
        line-height: 14px;
    }
}